<div class="container mtp">
  <mat-card>
      <div class="text-center">Link Bank Accounts</div>
      <hr>
      <div class="rsp-higt">
        <mat-list>
      <mat-list-item *ngFor="let data of selectedBanks" class="border-btm">
        <img matListAvatar src="{{data.logo}}" alt="{{data.bank_name}}" />
        <div mat-line>{{data.account_number}}</div>
        <div mat-line>{{data.account_type}} &nbsp;
          <span class="text-success" *ngIf="data.linked_status">Linked</span>
          <button  mat-button color="warn" (click)="removeSeelcted(data)">Remove</button>
          <button *ngIf="!data.linked_status" mat-button color="primary" (click)="openModal(data)">Get OTP</button>
        </div>
      </mat-list-item>
    </mat-list>
    </div>
    <br>
    <div class="text-center">
      <button mat-raised-button color="accent" (click)="addBank()">Add Bank Account</button> &nbsp; &nbsp;
      <button mat-raised-button color="primary">Proceed</button>
    </div>

  </mat-card>

</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-center">OTP sent to xxxxxx9876</h6>
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <input type="text" name="otp" id="otp" class="form-control" placeholder="Enter OTP" [(ngModel)]="MyOtp">
        <small>Didn't received OTP? Resend in 00:{{num}}</small>
      </div>
      <div class="modal-footer">
        <button class="wdth" mat-raised-button color="primary" (click)="verifyOtp()">Verify</button>
      </div>
    </div>
  </div>
</div>
